p {
    border-style: dotted;
    border-color:black;
}
.p2{
    border-style: dotted;
    border-color: red;
}
.ha{
    background-color: lightblue;
}

span{
    background-color: lightblue;
}

.p3, .p4 {
    border-style: none;
}
.p5{
    border-style: none;
    background-color: lightblue;
    padding: 30px;
}
.p6{
    border-style: none;
    background-color: lightblue;
}
.hc{
    background-color: lightblue;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 60px;
    padding-right: auto;
}
.text{
    border-style: none;
    background-color: lightblue;
}
.text2{
    border-style: none;
}
.text2 span{
    border-style: none;
    background-color: lightblue;   
}

.text3{
    border-style: none;
    width: 200px;
    background-color: lightblue;

}
.text4{
    border-style: none;
    width: 200px;
    padding: 30px 30px;
    background-color: lightblue;
   
}

.text5{
    width: 200px;
    padding: 30px 30px;
    background-color: lightblue;
    border-style: solid;
    border-width: 20px;
    border-color: darkblue;
}

.text6{
    width: 200px;
    padding: 30px 30px;
    background-color: lightblue;
    border-style: solid;
    border-width: 20px;
    border-color: darkblue;
    margin-left: 50px;
}

.p90{
    border-style: none;
}
.p100{
    border-style: none;
}
.rojoh1{
    color: crimson;
}
.p91{
    border-style: none;
    color:blue
}
.p101{
    border-style: none;
    color: blue;
}
.p93{
    border-style: none;
    text-indent: 20px;
}

.mayus{
    text-transform: uppercase;
}
.fonth1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p94{
    border-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p104{
    border-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.fontg{
    font-size: 80px;
}
.p95{
    font-weight: bold;
    border-style: none;

}
.p105{
    font-weight: bold;
    border-style: none;

}
.p96{
    font-weight: bold;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;

}
.p106{
    font-weight: bold;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.modelo-caja{

    background-color: lightblue;
    width: 300px;
    font-weight: bolder;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border-width: 50px;
    border-color: darkblue;
    border-style: solid;
    margin-left: 600px;
}
